#t1 {
  left: 261px;
  top: 576px;
  width: 12px;
  height: 24px;
}

#p1 {
  left: 256px;
  top: 559px;
}

#t2 {
  left: 294px;
  top: 576px;
  width: 12px;
  height: 24px;
}

#p2 {
  left: 292px;
  top: 559px;
}

#t3 {
  left: 372px;
  top: 460px;
  width: 36px;
  height: 12px;
}

#p3 {
  left: 353px;
  top: 472px;
}

#t4 {
  left: 328px;
  top: 444px;
  width: 25px;
  height: 12px;
}

#p4 {
  left: 353px;
  top: 442px;
}

#t5 {
  left: 318px;
  top: 414px;
  width: 36px;
  height: 12px;
}

#p5 {
  left: 353px;
  top: 412px;
}

#t6 {
  left: 330px;
  top: 384px;
  width: 24px;
  height: 12px;
}

#p6 {
  left: 353px;
  top: 382px;
}

#t7 {
  left: 383px;
  top: 285px;
  width: 12px;
  height: 36px;
}

#p7 {
  left: 392px;
  top: 320px;
}

#t8 {
  left: 413px;
  top: 284px;
  width: 12px;
  height: 36px;
}

#p8 {
  left: 422px;
  top: 320px;
}

#t9 {
  left: 457px;
  top: 295px;
  width: 12px;
  height: 24px;
}

#p9 {
  left: 452px;
  top: 320px;
}

#t10 {
  left: 475px;
  top: 337px;
  width: 36px;
  height: 12px;
}

#p10 {
  left: 482px;
  top: 320px;
}

#t11 {
  left: 526px;
  top: 284px;
  width: 12px;
  height: 36px;
}

#p11 {
  left: 512px;
  top: 320px;
}

#t12 {
  left: 561px;
  top: 295px;
  width: 12px;
  height: 24px;
}

#p12 {
  left: 542px;
  top: 320px;
}

#t13 {
  left: 585px;
  top: 343px;
  width: 36px;
  height: 12px;
}

#p13 {
  left: 563px;
  top: 341px;
}

#t14 {
  left: 585px;
  top: 373px;
  width: 36px;
  height: 12px;
}

#p14 {
  left: 563px;
  top: 371px;
}

#t15 {
  left: 585px;
  top: 403px;
  width: 24px;
  height: 12px;
}

#p15 {
  left: 563px;
  top: 401px;
}

#t16 {
  left: 330px;
  top: 354px;
  width: 24px;
  height: 12px;
}

#p16 {
  left: 353px;
  top: 352px;
}

#t17 {
  left: 326px;
  top: 283px;
  width: 12px;
  height: 36px;
}

#p17 {
  left: 321px;
  top: 320px;
}

#t18 {
  left: 293px;
  top: 283px;
  width: 12px;
  height: 36px;
}

#p18 {
  left: 288px;
  top: 320px;
}

#t19 {
  left: 260px;
  top: 283px;
  width: 12px;
  height: 36px;
}

#p19 {
  left: 255px;
  top: 320px;
}

#t20 {
  left: 241px;
  top: 336px;
  width: 12px;
  height: 24px;
}

#p20 {
  left: 222px;
  top: 320px;
}

#t21 {
  left: 197px;
  top: 337px;
  width: 12px;
  height: 24px;
}

#p21 {
  left: 192px;
  top: 320px;
}

#t22 {
  left: 200px;
  top: 292px;
  width: 24px;
  height: 12px;
}

#p22 {
  left: 178px;
  top: 290px;
}

#t23 {
  left: 200px;
  top: 268px;
  width: 24px;
  height: 12px;
}

#p23 {
  left: 178px;
  top: 266px;
}

#t24 {
  left: 166px;
  top: 212px;
  width: 12px;
  height: 36px;
}

#p24 {
  left: 161px;
  top: 249px;
}

#t25 {
  left: 142px;
  top: 224px;
  width: 12px;
  height: 24px;
}

#p25 {
  left: 137px;
  top: 249px;
}

#t26 {
  left: 225px;
  top: 576px;
  width: 12px;
  height: 24px;
}

#p26 {
  left: 220px;
  top: 559px;
}

#t27 {
  left: 333px;
  top: 576px;
  width: 12px;
  height: 24px;
}

#p27 {
  left: 328px;
  top: 559px;
}

#t28 {
  left: 369px;
  top: 576px;
  width: 12px;
  height: 36px;
}

#p28 {
  left: 364px;
  top: 559px;
}

#t29 {
  left: 405px;
  top: 576px;
  width: 12px;
  height: 24px;
}

#p29 {
  left: 400px;
  top: 559px;
}

#t30 {
  left: 441px;
  top: 576px;
  width: 12px;
  height: 36px;
}

#p30 {
  left: 436px;
  top: 559px;
}

#t31 {
  left: 477px;
  top: 576px;
  width: 12px;
  height: 24px;
}

#p31 {
  left: 472px;
  top: 559px;
}

#t32 {
  left: 513px;
  top: 576px;
  width: 12px;
  height: 36px;
}

#p32 {
  left: 508px;
  top: 559px;
}

#t33 {
  left: 549px;
  top: 576px;
  width: 12px;
  height: 24px;
}

#p33 {
  left: 544px;
  top: 559px;
}

#t34 {
  left: 585px;
  top: 576px;
  width: 12px;
  height: 36px;
}

#p34 {
  left: 580px;
  top: 559px;
}

#t35 {
  left: 621px;
  top: 576px;
  width: 12px;
  height: 36px;
}

#p35 {
  left: 616px;
  top: 559px;
}

#t36 {
  left: 657px;
  top: 576px;
  width: 12px;
  height: 36px;
}

#p36 {
  left: 652px;
  top: 559px;
}

#t37 {
  left: 693px;
  top: 576px;
  width: 12px;
  height: 24px;
}

#p37 {
  left: 688px;
  top: 559px;
}

#t38 {
  left: 585px;
  top: 433px;
  width: 24px;
  height: 12px;
}

#p38 {
  left: 563px;
  top: 431px;
}

#t39 {
  left: 275px;
  top: 520px;
  width: 24px;
  height: 12px;
}

#p39 {
  left: 256px;
  top: 531px;
}

#t40 {
  left: 236px;
  top: 475px;
  width: 24px;
  height: 12px;
}

#p40 {
  left: 214px;
  top: 459px;
}

#t41 {
  left: 236px;
  top: 415px;
  width: 24px;
  height: 12px;
}

#p41 {
  left: 214px;
  top: 413px;
}

#t42 {
  left: 126px;
  top: 328px;
  width: 24px;
  height: 12px;
}

#p42 {
  left: 147px;
  top: 340px;
}

#t43 {
  left: 29px;
  top: 371px;
  width: 24px;
  height: 12px;
}

#p43 {
  left: 53px;
  top: 369px;
}

#t44 {
  left: 0px;
  top: 0px;
  width: 0px;
  height: 0px;
}

#p44 {
  left: 229px;
  top: 530px;
}

#t45 {
  left: 0px;
  top: 0px;
  width: 0px;
  height: 0px;
}

#p45 {
  left: 193px;
  top: 458px;
}

#t46 {
  left: 0px;
  top: 0px;
  width: 0px;
  height: 0px;
}

#p46 {
  left: 150px;
  top: 349px;
}

#t47 {
  left: 25px;
  top: 342px;
  width: 24px;
  height: 12px;
}

#p47 {
  left: 51px;
  top: 340px;
}

#t48 {
  left: 589px;
  top: 477px;
  width: 12px;
  height: 24px;
}

#p48 {
  left: 584px;
  top: 460px;
}

#t49 {
  left: 625px;
  top: 477px;
  width: 12px;
  height: 36px;
}

#p49 {
  left: 620px;
  top: 460px;
}

#t50 {
  left: 663px;
  top: 440px;
  width: 36px;
  height: 12px;
}

#p50 {
  left: 641px;
  top: 438px;
}

#t51 {
  left: 663px;
  top: 410px;
  width: 24px;
  height: 12px;
}

#p51 {
  left: 641px;
  top: 408px;
}

#t52 {
  left: 663px;
  top: 380px;
  width: 24px;
  height: 12px;
}

#p52 {
  left: 641px;
  top: 378px;
}

#t53 {
  left: 244px;
  top: 369px;
  width: 24px;
  height: 12px;
}

#p53 {
  left: 222px;
  top: 367px;
}

#t54 {
  left: 102px;
  top: 385px;
  width: 24px;
  height: 12px;
}

#p54 {
  left: 83px;
  top: 369px;
}

#t55 {
  left: 76px;
  top: 423px;
  width: 36px;
  height: 12px;
}

#p55 {
  left: 83px;
  top: 406px;
}

#t56 {
  left: 26px;
  top: 302px;
  width: 36px;
  height: 12px;
}

#p56 {
  left: 33px;
  top: 315px;
}

#t57 {
  left: 667px;
  top: 476px;
  width: 12px;
  height: 24px;
}

#p57 {
  left: 662px;
  top: 459px;
}

#t64 {
  left: 434px;
  top: 471px;
  width: 31px;
  height: 12px;
}

#p64 {
  left: 422px;
  top: 455px;
}

#t65 {
  left: 387px;
  top: 388px;
  width: 36px;
  height: 12px;
}

#p65 {
  left: 422px;
  top: 386px;
}

#t67 {
  left: 399px;
  top: 232px;
  width: 24px;
  height: 12px;
}

#p67 {
  left: 422px;
  top: 230px;
}

#t68 {
  left: 399px;
  top: 202px;
  width: 24px;
  height: 12px;
}

#p68 {
  left: 422px;
  top: 200px;
}

#t69 {
  left: 383px;
  top: 174px;
  width: 24px;
  height: 12px;
}

#p69 {
  left: 409px;
  top: 172px;
}

#t70 {
  left: 457px;
  top: 174px;
  width: 24px;
  height: 12px;
}

#p70 {
  left: 435px;
  top: 172px;
}

#t71 {
  left: 398px;
  top: 146px;
  width: 24px;
  height: 12px;
}

#p71 {
  left: 421px;
  top: 144px;
}

#t72 {
  left: 404px;
  top: 85px;
  width: 12px;
  height: 36px;
}

#p72 {
  left: 399px;
  top: 122px;
}

#t73 {
  left: 353px;
  top: 97px;
  width: 12px;
  height: 24px;
}

#p73 {
  left: 348px;
  top: 122px;
}

#t74 {
  left: 302px;
  top: 97px;
  width: 12px;
  height: 24px;
}

#p74 {
  left: 297px;
  top: 122px;
}

#t75 {
  left: 251px;
  top: 97px;
  width: 12px;
  height: 24px;
}

#p75 {
  left: 246px;
  top: 122px;
}

#t76 {
  left: 186px;
  top: 87px;
  width: 24px;
  height: 12px;
}

#p76 {
  left: 209px;
  top: 85px;
}

#t78 {
  left: 151px;
  top: 124px;
  width: 36px;
  height: 12px;
}

#p78 {
  left: 186px;
  top: 122px;
}

#t80 {
  left: 362px;
  top: 512px;
  width: 24px;
  height: 12px;
}

#p80 {
  left: 363px;
  top: 492px;
}

#t81 {
  left: 189px;
  top: 576px;
  width: 12px;
  height: 36px;
}

#p81 {
  left: 184px;
  top: 559px;
}

#t82 {
  left: 153px;
  top: 576px;
  width: 12px;
  height: 48px;
}

#p82 {
  left: 148px;
  top: 559px;
}

#t83 {
  left: 117px;
  top: 576px;
  width: 12px;
  height: 48px;
}

#p83 {
  left: 112px;
  top: 559px;
}

#t84 {
  left: 468px;
  top: 428px;
  width: 36px;
  height: 12px;
}

#p84 {
  left: 446px;
  top: 431px;
}

#t85 {
  left: 493px;
  top: 458px;
  width: 24px;
  height: 12px;
}

#p85 {
  left: 471px;
  top: 456px;
}

#t86 {
  left: 326px;
  top: 617px;
  width: 12px;
  height: 48px;
}

#p86 {
  left: 307px;
  top: 601px;
}

#t87 {
  left: 286px;
  top: 643px;
  width: 12px;
  height: 36px;
}

#p87 {
  left: 281px;
  top: 626px;
}

#t88 {
  left: 250px;
  top: 643px;
  width: 12px;
  height: 24px;
}

#p88 {
  left: 245px;
  top: 626px;
}

#t89 {
  left: 214px;
  top: 643px;
  width: 12px;
  height: 48px;
}

#p89 {
  left: 209px;
  top: 626px;
}

#t90 {
  left: 459px;
  top: 250px;
  width: 24px;
  height: 12px;
}

#p90 {
  left: 440px;
  top: 261px;
}

#t91 {
  left: 534px;
  top: 346px;
  width: 24px;
  height: 12px;
}

#p91 {
  left: 512px;
  top: 344px;
}

#t92 {
  left: 517px;
  top: 374px;
  width: 36px;
  height: 12px;
}

#p92 {
  left: 495px;
  top: 372px;
}

#t93 {
  left: 493px;
  top: 404px;
  width: 36px;
  height: 12px;
}

#p93 {
  left: 471px;
  top: 402px;
}

#t94 {
  left: 340px;
  top: 530px;
  width: 24px;
  height: 12px;
}

#p94 {
  left: 336px;
  top: 543px;
}

#t96 {
  left: 466px;
  top: 221px;
  width: 36px;
  height: 12px;
}

#p96 {
  left: 447px;
  top: 205px;
}

#t97 {
  left: 494px;
  top: 192px;
  width: 36px;
  height: 12px;
}

#p97 {
  left: 472px;
  top: 190px;
}

#t98 {
  left: 515px;
  top: 170px;
  width: 36px;
  height: 12px;
}

#p98 {
  left: 493px;
  top: 168px;
}

#t99 {
  left: 515px;
  top: 140px;
  width: 24px;
  height: 12px;
}

#p99 {
  left: 493px;
  top: 138px;
}

#t100 {
  left: 515px;
  top: 110px;
  width: 36px;
  height: 12px;
}

#p100 {
  left: 493px;
  top: 108px;
}

#t101 {
  left: 515px;
  top: 80px;
  width: 24px;
  height: 12px;
}

#p101 {
  left: 493px;
  top: 78px;
}

#t102 {
  left: 515px;
  top: 50px;
  width: 36px;
  height: 12px;
}

#p102 {
  left: 493px;
  top: 48px;
}

#t103 {
  left: 515px;
  top: 20px;
  width: 36px;
  height: 12px;
}

#p103 {
  left: 493px;
  top: 18px;
}

#t111 {
  left: 246px;
  top: 440px;
  width: 36px;
  height: 12px;
}

#p111 {
  left: 282px;
  top: 438px;
}

#t114 {
  left: 95px;
  top: 310px;
  width: 36px;
  height: 12px;
}

#p114 {
  left: 130px;
  top: 303px;
}

#t115 {
  left: 129px;
  top: 164px;
  width: 12px;
  height: 36px;
}

#p115 {
  left: 110px;
  top: 199px;
}

#t116 {
  left: 93px;
  top: 152px;
  width: 12px;
  height: 24px;
}

#p116 {
  left: 88px;
  top: 177px;
}

#t117 {
  left: 63px;
  top: 152px;
  width: 12px;
  height: 24px;
}

#p117 {
  left: 58px;
  top: 177px;
}

#t118 {
  left: 33px;
  top: 140px;
  width: 12px;
  height: 36px;
}

#p118 {
  left: 28px;
  top: 177px;
}

#t119 {
  left: 28px;
  top: 200px;
  width: 24px;
  height: 12px;
}

#p119 {
  left: 6px;
  top: 198px;
}

#t120 {
  left: 28px;
  top: 245px;
  width: 24px;
  height: 12px;
}

#p120 {
  left: 6px;
  top: 243px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", sans-serif
}

.mobile body {
  margin: 0;
  padding: 0
}

.hide {
  display: none
}

.nav {
  margin-bottom: 10px
}

.nav a {
  color: #08c;
  text-decoration: none
}

.nav a:hover {
  color: orange;
  text-decoration: underline
}

.nav a.active {
  color: #000
}

#map-overlay {
  z-index: 5;
  background-color: transparent;
  display: none
}

#map,
#map-overlay {
  width: 720px;
  height: 720px;
  position: relative;
  padding: 0;
  z-index: 0
}

#map>* {
  position: absolute
}

.overlay {
  z-index: 10;
  background-color: snow;
  width: 250px;
  height: 75px;
  top: 0;
  left: 0
}

.meta,
.options {
  z-index: 100
}

.meta {
  font-size: 12px;
  width: 440px;
  left: 10px
}

.mobile .meta {
  margin: 10px;
  width: inherit
}

.meta ul {
  padding-left: 0;
  margin: 0
}

.meta ul li {
  display: inline
}

.options {
  right: 0;
  top: 10px
}

.mobile .options {
  display: none
}

.options b {
  display: block;
  margin-bottom: 5px
}

#options {
  font-size: 12px;
  cursor: pointer;
  height: 11rem
}

.ios #options {
  height: 2rem
}

.ipadx #options {
  height: 1rem
}

.desktop #options {
  overflow-y: auto
}

#stations>span {
  position: absolute;
  text-align: center
}

#tip {
  left: 475px;
  top: 259px;
  width: 240px;
  font-size: 16px;
  color: red;
  font-weight: 700
}

.site-www #tip {
  margin-top: -31px;
  text-align: right
}

#circle {
  top: 302px;
  left: 410px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: solid 4px red;
  width: 40px;
  height: 40px
}

#arrow {
  top: 277px;
  left: 439px;
  display: inline-block;
  font-size: 28px;
  color: red;
  font-weight: 700
}

.site-www #arrow {
  margin-top: -4px;
  z-index: 10
}

.mobile h1 {
  font-size: 14px;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100
}

.now {
  background-color: #ff0 !important
}

.start {
  background-color: #ffffe4 !important
    /* secondary */
}

.t {
  font-size: 12px;
  line-height: 12px;
  color: #000;
  background-color: snow;
  font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", sans-serif;
  padding-top: 1px;
}

.site-www .t {
  font-family: arial
}

.mfs .t {
  display: none
}

.p {
  cursor: pointer;
  font-family: Arial;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  line-height: 10px;
  border: 2px solid;
  height: 12px;
  line-height: 12px;
  width: 18px;
  text-align: center;
  background-color: #fff
}

.p i {
  position: absolute;
  transform: scale(.75);
  font-size: 9px;
  font-style: normal;
  left: -3px;
  /* xbackground: pink; */
  width: 24px;
  text-align: center
}

.p i.b {
  transform: scale(1)
}

.p u {
  text-decoration: none;
  transform: scale(.8);
  display: inline-block
}

.p-tuen-ma {
  border-color: #a14f17
}

.p-east-rail {
  border-color: #53beec
}

.p-kwun-tong {
  border-color: #33a760
}

.p-tsuen-wan {
  border-color: #ef2f24
}

.p-tko {
  border-color: #b764eb
}

.p-island {
  border-color: #1677ae
}

.p-airport {
  border-color: #007a87
}

.p-tung-chung {
  border-color: #f8981d
}

.p-disneyland {
  border-color: #db87b9
}

.p-south-island {
  border-color: #90ee90
}

#t44,
#t45,
#t46 {
  display: none
}

#b54,
#p54 {
  border-top-color: #f8981d;
  border-right-color: #db87b9;
  border-left-color: #f8981d;
  border-bottom-color: #db87b9
}

#b1,
#p1 {
  border-top-color: #ef2f24;
  border-right-color: #ef2f24;
  border-left-color: #1677ae;
  border-bottom-color: #1677ae
}

#b67,
#p67 {
  border-top-color: #a14f17;
  border-right-color: #a14f17;
  border-left-color: #53beec;
  border-bottom-color: #53beec
}

#b20,
#p20 {
  border-top-color: #a14f17;
  border-right-color: #ef2f24;
  border-left-color: #ef2f24;
  border-bottom-color: #a14f17
}

#b21,
#p21 {
  border-top-color: #ef2f24;
  border-right-color: #ef2f24;
  border-left-color: #f8981d;
  border-bottom-color: #f8981d
}

#b31,
#b32,
#p31,
#p32 {
  border-top-color: #b764eb;
  border-right-color: #b764eb;
  border-left-color: #1677ae;
  border-bottom-color: #1677ae
}

#b48,
#b49,
#p48,
#p49 {
  border-top-color: #33a760;
  border-right-color: #33a760;
  border-left-color: #b764eb;
  border-bottom-color: #b764eb
}

#b16,
#b5,
#b6,
#p16,
#p5,
#p6 {
  border-top-color: #33a760;
  border-right-color: #33a760;
  border-left-color: #ef2f24;
  border-bottom-color: #ef2f24;
}

#p16,
#p5,
#p6 {
  margin-left: 4px
}

#b8,
#p8 {
  border-top-color: #53beec;
  border-bottom-color: #53beec;
  border-left-color: #33a760;
  border-right-color: #33a760
}

#b11,
#p11 {
  border-top-color: #a14f17;
  border-bottom-color: #a14f17;
  border-left-color: #33a760;
  border-right-color: #33a760
}

#b64,
#p64 {
  border-top-color: #53beec;
  border-bottom-color: #53beec;
  border-left-color: #a14f17;
  border-right-color: #a14f17
}

#b84,
#p84 {
  border-top-color: #a14f17;
  border-bottom-color: #a14f17;
  border-left-color: #33a760;
  border-right-color: #33a760
}

#p1,
#p2,
#p31,
#p32,
#p48,
#p49 {
  margin-top: -6px;
  height: 16px;
  line-height: 14px;
  padding-top: 3px;
}

#p23 {
  margin-top: 2px
}

#p25 {
  margin-left: -5px
}

#p40 {
  margin-left: 3px;
  margin-top: -1px
}

#p45 {
  margin-left: 3px
}

#p42 {
  margin-left: 3px;
  margin-top: -6px
}

#p39 {
  margin-top: -2px;
  margin-left: -1px
}

#p44 {
  margin-left: 5px;
  margin-top: -1px
}

#b53,
#p53 {
  margin-left: -4px;
  border-left-color: orange;
  border-bottom-color: orange;
  border-top-color: #a14f17;
  border-right-color: #a14f17
}

#p53 {
  margin-left: -4px;
}

#p80 {
  margin-top: 3px
}

.mobile #zmap {
  overflow-x: scroll
}

.base-footer a {
  color: #4682b4;
  text-decoration: none
}

.base-footer {
  font-size: 12px;
  line-height: 1em;
  padding: 0 .2rem 1rem;
  text-align: center
}

.b {
  border: 2px solid;
}

.b-tuen-ma {
  border-color: #a14f17
}

.b-east-rail {
  border-color: #53beec
}

.b-kwun-tong {
  border-color: #33a760
}

.b-tsuen-wan {
  border-color: #ef2f24
}

.b-tko {
  border-color: #b764eb
}

.b-island {
  border-color: #1677ae
}

.b-airport {
  border-color: #007a87
}

.b-tung-chung {
  border-color: #f8981d
}

.b-disneyland {
  border-color: #db87b9
}

.b-south-island {
  border-color: #90ee90
}

/* .b-mix {
  border-color: transparent
} */